In [2]:
import numpy as np
import pandas as pd
from numpy.core.defchararray import add

In [2]:
inj_file = '../data/injection_pars/O3a/injections_samples_o3a_newrun_Belczynski_image1_LHV_withsnr.dat'
data =np.genfromtxt(inj_file,names=True)

In [3]:
snr = data['snr']
idx = (np.where(snr>10))[0]
print(len(idx))

1263

In [4]:
idx

array([   27,    29,    41, ..., 29890, 29929, 29961])

In [5]:
data_haris_et = dict(np.load("../data/injection_pars/haris-et-al/unlensed_inj_data.npz"))

In [6]:
data_haris_et.keys()

dict_keys(['data_dir', 'event_tag', 'm1z', 'm2z', 'iota', 'ra', 'dec', 'tc', 'ldistance', 'snr', 'phi0', 'pol'])

In [20]:
filtered_data = {}
n=1000
filtered_data['event_tag'] = add(add(np.arange(n).astype(str) ,'_'), idx[:n].astype(str))

In [21]:
filtered_data['m1z'] = data['m1z'][idx[:n]]
filtered_data['ldistance'] = data['ldistance'][idx[:n]]
filtered_data['m2z'] = data['m2z'][idx[:n]]
filtered_data['ra'] =  data['ra'][idx[:n]]
filtered_data['dec'] = data['dec'][idx[:n]]
filtered_data['iota'] = data['theta_jn'][idx[:n]]
filtered_data['a_1 ']= data['a_1'][idx[:n]]
filtered_data['a_2 ']= data['a_2'][idx[:n]]
filtered_data['tilt_1'] = data['tilt_1'][idx[:n]]
filtered_data['tilt_2'] = data['tilt_2'][idx[:n]]
filtered_data['phi_jl'] = data['phi_jl'][idx[:n]]
filtered_data['phi_12'] = data['phi_12'][idx[:n]]
filtered_data['pol'] = data['psi'][idx[:n]]
filtered_data['phi0'] = data['phase'][idx[:n]]
filtered_data['tc'] = data['t0'][idx[:n]]
filtered_data['f_ref'] = data['f_ref'][idx[:n]]
filtered_data['snr'] = data['snr'][idx[:n]]

In [22]:
#filtered_data['event_tag']

In [23]:
np.savez(inj_file[:-4]+'_filtered',**filtered_data)

In [24]:
read = dict(np.load('../data/injection_pars/O3a/injections_samples_o3a_newrun_Belczynski_image1_LHV_withsnr_filtered.npz'))

# blus

In [4]:
blu_df=pd.read_csv('../../data/injection_pars/O3a/bg_bayes_factors.txt',delimiter='\t',header=None)

#n=len(blu_df[0].values)
#filtered_blu_df = pd.DataFrame()
#filtered_blu_df['img0'] = [blu_df[0].astype('str').values[i][2:-2] for i in range(n)]

In [14]:
blu_df.tail()

                   0            1    2       3      4
483675   b'154_3332'  b'287_6478'  0.0  0.0906  0.611
483676  b'555_12168'  b'356_8141'  0.0  0.0358  0.147
483677   b'204_4567'  b'368_8296'  0.0  0.6480  4.520
483678   b'101_2087'  b'113_2381'  0.0  0.0112  0.000
483679  b'722_17163'  b'383_8492'  0.0  0.0182  0.033

In [48]:
blu_df=blu_df.rename(columns={0: 'img_0',1:'img_1',2:'blu',3:'rlu',4:'delta_t'})

In [49]:
blu_df['img_0']=blu_df['img_0'].astype('string')
blu_df['img_1']=blu_df['img_1'].astype('string')

In [50]:
blu_df.img_0=blu_df.img_0.str.replace("b'", "")
blu_df.img_1=blu_df.img_1.str.replace("b'", "")
blu_df.img_0=blu_df.img_0.str.replace("'", "")
blu_df.img_1=blu_df.img_1.str.replace("'", "")

In [52]:
blu_df.tail()

            img_0     img_1  blu     rlu  delta_t
483675   154_3332  287_6478  0.0  0.0906    0.611
483676  555_12168  356_8141  0.0  0.0358    0.147
483677   204_4567  368_8296  0.0  0.6480    4.520
483678   101_2087  113_2381  0.0  0.0112    0.000
483679  722_17163  383_8492  0.0  0.0182    0.033

In [53]:
blu_df.to_csv('../../data/dataframes/O3a_haris/blu_injections.csv')